/* 全局默认鼠标指针 */

body,html {

    cursor: url('../img/正常选择.cur'),auto !important;

}

div:hover {

    cursor: url('../img/正常选择.cur'),auto !important;

}

/* 悬停图片时的鼠标指针 */

img { 

    cursor: url('../img/其它选择.cur'), auto !important;

}
span,p {
    cursor: url('../img/其它选择.cur'), auto !important;
}
/* 选择链接标签时的鼠标指针 */

a:hover,#site-name:hover {

    cursor: url('../img/其它选择.cur'), auto !important;

}

/* 选择按钮和label、i标签时的鼠标指针 */

button:hover,label:hover,i:hover {

    cursor: url('../img/其它选择.cur'), auto !important;

}


/* 选中输入框时的鼠标指针 */

input:hover, textarea:hover {

    cursor: url('../img/其它选择.cur'), auto;

}

/* 悬停按钮时的鼠标指针 */

button:hover,.scroll-down-effects:hover {

    cursor: url('../img/其它选择.cur'), auto;

}

/* 悬停菜单栏时的鼠标指针 */

#nav .site-page:hover {

    cursor: url('../img/其它选择.cur'), auto !important;

}

/* 悬停滚动条的鼠标指针（只对Chrome有效） */

::-webkit-scrollbar:hover{

    cursor: url('../img/其它选择.cur'), auto!important;

}

/* 悬停非链接文本时的鼠标指针 */

h1,h2,h3,h4,h5,h6{

    cursor: url('../img/其它选择.cur'), auto;

}

select, input, textarea, a, button {

    cursor:url('../img/keximg/其它选择.cur'), auto;

}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly] {

    cursor:url('../img/其它选择.cur'), auto;

}


